*{
  margin: 0;
  border: 0;
}

[class*="col-"]{
  box-sizing: border-box;
  float:right;

}

.row::after{
  content: "";
  clear:both;
  display: table;
}


[class*="col-"]{
  width:100%;
}

.block{
  border:3px solid green;
  height: 300px;
  width:200px;
}

.new-page {
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

.he{ 
  background-image: url('../images/long-road.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
}
@font-face {
  src: url('../fonts/Tajawal-Medium.ttf');
  font-family: Tajawal;
}

.second-lyer{
  position:absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .8;
}

ul{
  list-style-type: none;
  margin-top:10px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
}

li{
  display : inline;    
  padding: 15px;
}
li a{
  
  border-radius: 3px;
  border-color: #ccc;
  text-decoration:none;
  color:#fff
}

.social {
  margin-top: 70vh;
}

.social li{   
  display :block;
}

.head-text{
  
position: absolute;
  color: #fff;

  font-size:15px;
  top:45vh;
  
}
h1,h3{
  text-align: center;
}

.technoligies {
  /* height: 100vh;
  max-height: 100vh; */
  /* position: relative; */
}

.description {
  margin: 10vh 5vw;
  text-align: center;
}

.item {
  display: block;
  height: 20vh;
}

#item-1{
  background-color: greenyellow;
}

#item-2{
  background-color: rebeccapurple;
}

#item-3{
  background-color: greenyellow;
}

#item-4{
  background-color: rebeccapurple;
}

#item-5{
  background-color: rebeccapurple;
}

#item-6{
  background-color: greenyellow;
}

#item-7{
  background-color: rebeccapurple;
}

#item-8{
  background-color: greenyellow;
}

.item > h2 {
  margin-top: 2em; 
  text-align: center;
}

.specific {
  margin: 10vh 5vw;
}

.specific > h2,p {
  text-align: center;
}

.specific .more {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 176px;
  height: 49px;
  font-size: 1.2rem;
  background-color: greenyellow;
}

.contscts {
  background-color: #eeebeb;
  font-family: 'Tajawal', sans-serif;
}
.contscts h1 {
  padding-top: 5%;
}
.contscts h1, p {
  text-align: right;
  margin-right: 2%;
}
.form-container {
  width: 95%;
  padding: 2%;
}
.form-container div input, label , textarea {
  display: block;
  margin-bottom: 2%;
}

.form-container input , textarea {
  border: 2px solid black;
  padding: 1%;
}

.form-container .first-name {
  float: right;
  width: 40%;
}

.form-container .second-name {
  float: left;
  width: 40%;
}

.first-name input, .second-name input{
  width: 100%;
}

.form-container .full-width {
  clear: both;
}

.full-width input, textarea {
  width: 100%;
}

@media (min-width:600px){
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
  .social {
      margin-top: 60vh;
  } 
}

@media (min-width:768px){
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;} 
}

@media (min-width:992px){
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}

@media (min-width:1200px){
  .col-xlg-1 {width: 8.33%;}
  .col-xlg-2 {width: 16.66%;}
  .col-xlg-3 {width: 25%;}
  .col-xlg-4 {width: 33.33%;}
  .col-xlg-5 {width: 41.66%;}
  .col-xlg-6 {width: 50%;}
  .col-xlg-7 {width: 58.33%;}
  .col-xlg-8 {width: 66.66%;}
  .col-xlg-9 {width: 75%;}
  .col-xlg-10 {width: 83.33%;}
  .col-xlg-11 {width: 91.66%;}
  .col-xlg-12 {width: 100%;}
}
